###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=5aea0f2615dfaec74f8de69d1968c42b
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://mario:admin@db:5432/apiplatform?serverVersion=16&charset=utf8"

###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
# MAILER_DSN=null://null
###< symfony/mailer ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###
